@font-face {
    font-family: Basis Medium;
    src: url("../fonts/BasisGrotesquePro-Medium.ttf");
}
@font-face {
    font-family: Basis Regular;
    src: url("../fonts/BasisGrotesquePro-Regular.ttf");
}
@font-face {
    font-family: Cinema;
    src: url("../fonts/CoFoCinema1909-Regular.ttf");
}
